
<!-- Table -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse: separate;"><tr>
  <td>
                              <p style="text-align: left; font-size: 16px; font-weight: bold; margin-bottom: 10px; font-family: arial,verdana,monospace; margin: 0; padding: 0;">Investment Summary</p>
                              <table style="width: 100%; font-family: arial,verdana,monospace; border-spacing: 0 2px; border-collapse: separate;">
  <tr style="background-color: #F5F5F5; height: 35px;">
  <td align="left" style="width: 50%; padding-left: 15px;">Amount</td>
                                  <td align="right" style="width: 50%; padding-right: 15px;"><b>$1000</b></td>
                                </tr>
  <tr>
  <td height="1" colspan="2"></td>
                                </tr>
  <tr style="background-color: #F5F5F5; height: 35px;">
  <td align="left" style="width: 50%; padding-left: 15px;">Amount</td>
                                  <td align="right" style="width: 50%; padding-right: 15px;"><b>$1000</b></td>
                                </tr>
  <tr>
  <td height="1" colspan="2"></td>
                                </tr>
  <tr style="background-color: #F5F5F5; height: 35px;">
  <td align="left" style="width: 50%; padding-left: 15px;">Amount</td>
                                  <td align="right" style="width: 50%; padding-right: 15px;"><b>$1000</b></td>
                                </tr>
  </table>
  </td>
                          </tr></table>


<!-- Paragraph with Header -->
                            <table style="margin-bottom: 20px; border-collapse: separate;" cellpadding="0" cellspacing="0" border="0"><tr>
                              <td>
                                                          <p style="font-size: 16px; font-weight: 700; margin-bottom: 5px; font-family: arial,verdana,geneva,sans-serif; margin: 0; padding: 0;">What's Next</p>
                                                          <p style="font-family: arial,verdana,geneva,sans-serif; font-size: 14px; margin: 0; padding: 0;">Your investment of ${{investment_amount}} in {{company_name}} is incomplete because you have not signed your Subscription Document.  Please go to your "My Investment" page and resolve the issues following the instructions listed there.</p>                 
                                                        </td> 
                                                      </tr></table>                            


<!-- Button -->

<table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout: fixed; border-collapse: separate;" width="100%"><tbody><tr>
  <td align="left" bgcolor="#fff" class="outer-td" style="padding: 25px 10px 10px 0px; background-color: #fff;">
                                <table border="0" cellpadding="0" cellspacing="0" class="button-css__deep-table___2OZyb wrapper-mobile" style="text-align: center; border-collapse: separate;"><tbody><tr>
  <td align="center" bgcolor="#ffffff" class="inner-td" style="border-radius: 6px; font-size: 16px; text-align: center; background-color: inherit;">
                                        <a style="background-color: #111; border: 1px solid #333333; border-color: #111; border-radius: 2px; color: #fff; display: inline-block; font-family: arial,verdana new,verdana,monospace; font-size: 14px; font-weight: 400; letter-spacing: 1px; line-height: 20px; padding: 12px 50px 12px 50px; text-align: center; text-decoration: none;" href="{{url}}" target="_blank">Resolve Issue</a>
                                      </td>
                                    </tr></tbody></table>
  </td>
                            </tr></tbody></table>

<!-- BUtton 2 -->

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
      <td align="center" style="border-radius: 5px; background-color: #111;">
          <a href="{{url}}" target="_blank" style="font-size: 14px; font-family: Arial, sans-serif; color: #ffffff; font-weight: 400; text-decoration: none;border-radius: 2px; padding: 12px 40px; border: 1px solid #111; display: inline-block;">Resolve Issue &rarr;</a>
      </td>
  </tr>
</table>

<table style="padding-bottom: 15px;" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <span style="font-family: arial,verdana,monospace; color: #111; font-size: 14px"> If you have any questions, please feel free to send us a chat on our <a href="https://www.spacedventures.com/" target="_blank" alt="website">website</a> or email us at support@spacedventures.com.</span>
    </td> 
  </tr>
</table>   


                    
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <table style="padding-bottom: 5px;" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <span style="font-family: arial,verdana,monospace; color: #111; font-size: 14px">Thank you for making a difference in the future of space,</span>
          </td> 
        </tr>
      </table>         
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <span style="font-family: arial,verdana,monospace; color: #111; font-size: 14px">- Spaced Ventures Team 🚀 </span>
          </td> 
        </tr>
      </table>         
    </td> 
  </tr>
</table>  


<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <table style="padding-bottom: 5px;" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <span style="font-family: arial,verdana,monospace; color: #111; font-size: 14px">Thank you,</span>
          </td> 
        </tr>
      </table>         
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <span style="font-family: arial,verdana,monospace; color: #111; font-size: 14px">- Spaced Ventures Team 🚀 </span>
          </td> 
        </tr>
      </table>         
    </td> 
  </tr>
</table> 